body {
	background-color: #444444;
	background-image: url(../Paths.svg);
	font-family: Georgia,Palatino,'Palatino Linotype',serif;
	font-size: 1.1em;
	text-align: center;
}

#cont {
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
	margin: 0 auto;
	text-align: left;
	width: 920px;
	padding: 20px;
}

input {
	height: 30px;
	width: 180px;
}

#svgcanvas {
}
